In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
a = pd.read_csv('C:/Users/Lenovo/Downloads/Loan/training_set (1).csv')

In [2]:
a.head(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y

# check missing data

In [3]:
a.isna().sum()

Loan_ID               0
Gender               15
Married               3
Dependents           15
Education             1
Self_Employed        32
ApplicantIncome       2
CoapplicantIncome     1
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
from module import replacer,preprocessing,catconsep

In [5]:
replacer(a)

In [6]:
a.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Define x and y

In [7]:
y = a[["Loan_Status"]]
x = a.drop(labels=["Loan_ID","Loan_Status"],axis=1)

# Convert  'y'  in LabelEncoded format

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y1 = pd.DataFrame(le.fit_transform(y),columns=['Loan_Status'])

In [9]:
y1.head()

   Loan_Status
0            1
1            0
2            1
3            1
4            1

In [10]:
cat,con = catconsep(x)

In [11]:
cat

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area']

In [12]:
con

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

# Preprocessing(missing data treatment, standardization, OHE)

In [13]:
replacer(x)

In [14]:
x1 = preprocessing(x)

# Create a neural network

In [35]:
from keras.layers import Dense, Dropout
from keras.models import Sequential
from keras.callbacks import EarlyStopping

In [29]:
nn = Sequential()
nn.add(Dense(32,activation='relu',input_dim = x1.shape[1]))        # Input Layer
nn.add(Dense(32,activation='relu'))                              # Hidden Layer
nn.add(Dense(1,activation='sigmoid'))                          # Output Layer

In [31]:
nn.compile(loss = "binary_crossentropy",metrics=["accuracy"])
nn.fit(x1,y1,validation_split=0.2,epochs=30)

Epoch 1/30
16/16 [==============================] - 0s 21ms/step - loss: 0.6352 - accuracy: 0.6823 - val_loss: 0.6228 - val_accuracy: 0.6911
Epoch 2/30
16/16 [==============================] - 0s 2ms/step - loss: 0.5773 - accuracy: 0.7393 - val_loss: 0.5895 - val_accuracy: 0.7073
Epoch 3/30
16/16 [==============================] - 0s 2ms/step - loss: 0.5412 - accuracy: 0.7760 - val_loss: 0.5614 - val_accuracy: 0.7967
Epoch 4/30
16/16 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7943 - val_loss: 0.5345 - val_accuracy: 0.8049
Epoch 5/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4890 - accuracy: 0.8045 - val_loss: 0.5149 - val_accuracy: 0.8130
Epoch 6/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4753 - accuracy: 0.8065 - val_loss: 0.5041 - val_accuracy: 0.7886
Epoch 7/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4629 - accuracy: 0.8045 - val_loss: 0.4993 - val_accuracy: 0.7967
Epoch 8/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4564 - accuracy: 0.8086 - val_loss: 0.4930 - val_accuracy: 0.7967
Epoch 9/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4509 - accuracy: 0.8106 - val_loss: 0.4899 - val_accuracy: 0.7886
Epoch 10/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4464 - accuracy: 0.8167 - val_loss: 0.4847 - val_accuracy: 0.7967
Epoch 11/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4418 - accuracy: 0.8167 - val_loss: 0.4857 - val_accuracy: 0.7967
Epoch 12/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4389 - accuracy: 0.8126 - val_loss: 0.4887 - val_accuracy: 0.7724
Epoch 13/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4364 - accuracy: 0.8126 - val_loss: 0.4906 - val_accuracy: 0.7805
Epoch 14/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4330 - accuracy: 0.8167 - val_loss: 0.4909 - val_accuracy: 0.7886
Epoch 15/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4310 - accuracy: 0.8167 - val_loss: 0.4929 - val_accuracy: 0.7967
Epoch 16/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4287 - accuracy: 0.8147 - val_loss: 0.4949 - val_accuracy: 0.7967
Epoch 17/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4271 - accuracy: 0.8167 - val_loss: 0.4937 - val_accuracy: 0.8130
Epoch 18/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4237 - accuracy: 0.8208 - val_loss: 0.4949 - val_accuracy: 0.7967
Epoch 19/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4215 - accuracy: 0.8167 - val_loss: 0.4945 - val_accuracy: 0.8211
Epoch 20/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4193 - accuracy: 0.8208 - val_loss: 0.4984 - val_accuracy: 0.7967
Epoch 21/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4200 - accuracy: 0.8167 - val_loss: 0.4961 - val_accuracy: 0.8049
Epoch 22/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4169 - accuracy: 0.8147 - val_loss: 0.5005 - val_accuracy: 0.8049
Epoch 23/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4147 - accuracy: 0.8269 - val_loss: 0.5029 - val_accuracy: 0.8049
Epoch 24/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4129 - accuracy: 0.8330 - val_loss: 0.5011 - val_accuracy: 0.8049
Epoch 25/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4127 - accuracy: 0.8228 - val_loss: 0.4990 - val_accuracy: 0.8130
Epoch 26/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4090 - accuracy: 0.8269 - val_loss: 0.5025 - val_accuracy: 0.8130
Epoch 27/30
16/16 [==============================] - 0s 3ms/step - loss: 0.4084 - accuracy: 0.8289 - val_loss: 0.5045 - val_accuracy: 0.8130
Epoch 28/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4067 - accuracy: 0.8289 - val_loss: 0.5053 - val_accuracy: 0.7967
Epoch 29/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4044 - accuracy: 0.8350 - val_loss: 0.5049 - val_accuracy: 0.7886
Epoch 30/30
16/16 [==============================] - 0s 2ms/step - loss: 0.4026 - accuracy: 0.8310 - val_loss: 0.5079 - val_accuracy: 0.8130

# keras tuner

In [34]:
def model_builder(hp):
    nn = Sequential()
    nn.add(Dense(32, activation = 'relu', input_dim = x1.shape[1]))
    x = hp.Int('units', min_value = 32, max_value = 512, step= 32)
    nn.add(Dense(units=x))
    lr = hp.Choice('rate', values=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])
    nn.add(Dropout(rate = lr))
    nn.add(Dense(1,activation='sigmoid'))
    nn.compile(loss='binary_crossentropy', metrics=['accuracy'], optimizer = 'Adam')
    return nn

In [37]:
import keras_tuner as kt
tuner = kt.Hyperband(model_builder, objective='val_accuracy', max_epochs=10,
                    directory= 'C:/Users/Lenovo/Downloads/kt5',
                     project_name = 'loan_status')

In [38]:
es = EarlyStopping(patience=20, monitor = 'val_loss')

In [39]:
tuner.search(x1, y1, callbacks = [es], validation_split= 0.2, epochs = 50)

Trial 30 Complete [00h 00m 01s]
val_accuracy: 0.8292682766914368

Best val_accuracy So Far: 0.8373983502388
Total elapsed time: 00h 00m 40s
INFO:tensorflow:Oracle triggered exit

In [45]:
tuner.get_best_hyperparameters(num_trials=1)[0].get('units')

352

In [48]:
tuner.get_best_hyperparameters()[0].get('rate')

0.5

In [50]:
# Gradient Descent

nn = Sequential()
nn.add(Dense(32,activation='relu',input_dim = x1.shape[1]))       
nn.add(Dense(352,activation='relu')) 
nn.add(Dropout(0.5))
nn.add(Dense(1,activation='sigmoid'))  

nn.compile(loss='binary_crossentropy', metrics=['accuracy'])
nn.fit(x1,y1, validation_split=0.2, epochs=100, batch_size=100)

Epoch 1/100
5/5 [==============================] - 0s 51ms/step - loss: 0.6358 - accuracy: 0.6904 - val_loss: 0.5959 - val_accuracy: 0.6992
Epoch 2/100
5/5 [==============================] - 0s 9ms/step - loss: 0.5727 - accuracy: 0.7352 - val_loss: 0.5536 - val_accuracy: 0.7561
Epoch 3/100
5/5 [==============================] - 0s 8ms/step - loss: 0.5271 - accuracy: 0.7821 - val_loss: 0.5251 - val_accuracy: 0.8211
Epoch 4/100
5/5 [==============================] - 0s 8ms/step - loss: 0.5022 - accuracy: 0.7984 - val_loss: 0.5064 - val_accuracy: 0.8211
Epoch 5/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4904 - accuracy: 0.8004 - val_loss: 0.4937 - val_accuracy: 0.8293
Epoch 6/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4825 - accuracy: 0.8045 - val_loss: 0.4858 - val_accuracy: 0.8374
Epoch 7/100
5/5 [==============================] - 0s 9ms/step - loss: 0.4711 - accuracy: 0.7984 - val_loss: 0.4810 - val_accuracy: 0.8374
Epoch 8/100
5/5 [==============================] - 0s 9ms/step - loss: 0.4619 - accuracy: 0.7984 - val_loss: 0.4774 - val_accuracy: 0.8374
Epoch 9/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4487 - accuracy: 0.8004 - val_loss: 0.4781 - val_accuracy: 0.8374
Epoch 10/100
5/5 [==============================] - 0s 9ms/step - loss: 0.4519 - accuracy: 0.8045 - val_loss: 0.4774 - val_accuracy: 0.8374
Epoch 11/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4488 - accuracy: 0.8024 - val_loss: 0.4802 - val_accuracy: 0.8374
Epoch 12/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4475 - accuracy: 0.8024 - val_loss: 0.4843 - val_accuracy: 0.8211
Epoch 13/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4457 - accuracy: 0.8045 - val_loss: 0.4837 - val_accuracy: 0.8374
Epoch 14/100
5/5 [==============================] - 0s 9ms/step - loss: 0.4390 - accuracy: 0.8065 - val_loss: 0.4845 - val_accuracy: 0.8211
Epoch 15/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4364 - accuracy: 0.8086 - val_loss: 0.4859 - val_accuracy: 0.8293
Epoch 16/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4294 - accuracy: 0.8147 - val_loss: 0.4892 - val_accuracy: 0.8211
Epoch 17/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4316 - accuracy: 0.8187 - val_loss: 0.4917 - val_accuracy: 0.8211
Epoch 18/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4274 - accuracy: 0.8147 - val_loss: 0.4942 - val_accuracy: 0.8049
Epoch 19/100
5/5 [==============================] - 0s 8ms/step - loss: 0.4299 - accuracy: 0.8045 - val_loss: 0.4949 - val_accuracy: 0.8130
Epoch 20/100
5/5 [==============================] - 0s 12ms/step - loss: 0.4181 - accuracy: 0.8147 - val_loss: 0.4986 - val_accuracy: 0.7886
Epoch 21/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4268 - accuracy: 0.8187 - val_loss: 0.5007 - val_accuracy: 0.7886
Epoch 22/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4248 - accuracy: 0.8126 - val_loss: 0.5024 - val_accuracy: 0.7967
Epoch 23/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4143 - accuracy: 0.8228 - val_loss: 0.5047 - val_accuracy: 0.7886
Epoch 24/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4182 - accuracy: 0.8187 - val_loss: 0.5054 - val_accuracy: 0.8049
Epoch 25/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4086 - accuracy: 0.8187 - val_loss: 0.5055 - val_accuracy: 0.7886
Epoch 26/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4050 - accuracy: 0.8208 - val_loss: 0.5045 - val_accuracy: 0.8049
Epoch 27/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4188 - accuracy: 0.8187 - val_loss: 0.5116 - val_accuracy: 0.7886
Epoch 28/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4027 - accuracy: 0.8187 - val_loss: 0.5129 - val_accuracy: 0.8130
Epoch 29/100
5/5 [==============================] - 0s 7ms/step - loss: 0.4111 - accuracy: 0.8228 - val_loss: 0.5130 - val_accuracy: 0.8049
Epoch 30/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4023 - accuracy: 0.8167 - val_loss: 0.5152 - val_accuracy: 0.7967
Epoch 31/100
5/5 [==============================] - 0s 6ms/step - loss: 0.4111 - accuracy: 0.8126 - val_loss: 0.5163 - val_accuracy: 0.7967
Epoch 32/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3951 - accuracy: 0.8289 - val_loss: 0.5159 - val_accuracy: 0.8211
Epoch 33/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3956 - accuracy: 0.8147 - val_loss: 0.5234 - val_accuracy: 0.7886
Epoch 34/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3982 - accuracy: 0.8269 - val_loss: 0.5216 - val_accuracy: 0.8049
Epoch 35/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3938 - accuracy: 0.8167 - val_loss: 0.5187 - val_accuracy: 0.8130
Epoch 36/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3915 - accuracy: 0.8330 - val_loss: 0.5210 - val_accuracy: 0.7967
Epoch 37/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3889 - accuracy: 0.8289 - val_loss: 0.5229 - val_accuracy: 0.8049
Epoch 38/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3876 - accuracy: 0.8269 - val_loss: 0.5247 - val_accuracy: 0.7886
Epoch 39/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3829 - accuracy: 0.8330 - val_loss: 0.5267 - val_accuracy: 0.7805
Epoch 40/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3922 - accuracy: 0.8432 - val_loss: 0.5326 - val_accuracy: 0.8049
Epoch 41/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3888 - accuracy: 0.8289 - val_loss: 0.5318 - val_accuracy: 0.7642
Epoch 42/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3820 - accuracy: 0.8310 - val_loss: 0.5302 - val_accuracy: 0.7724
Epoch 43/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3760 - accuracy: 0.8310 - val_loss: 0.5342 - val_accuracy: 0.7805
Epoch 44/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3779 - accuracy: 0.8310 - val_loss: 0.5318 - val_accuracy: 0.8049
Epoch 45/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3832 - accuracy: 0.8289 - val_loss: 0.5330 - val_accuracy: 0.7886
Epoch 46/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3856 - accuracy: 0.8310 - val_loss: 0.5360 - val_accuracy: 0.7805
Epoch 47/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3727 - accuracy: 0.8350 - val_loss: 0.5410 - val_accuracy: 0.7886
Epoch 48/100
5/5 [==============================] - 0s 9ms/step - loss: 0.3812 - accuracy: 0.8310 - val_loss: 0.5396 - val_accuracy: 0.7642
Epoch 49/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3762 - accuracy: 0.8248 - val_loss: 0.5446 - val_accuracy: 0.7724
Epoch 50/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3727 - accuracy: 0.8411 - val_loss: 0.5467 - val_accuracy: 0.7886
Epoch 51/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3779 - accuracy: 0.8391 - val_loss: 0.5450 - val_accuracy: 0.7724
Epoch 52/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3703 - accuracy: 0.8411 - val_loss: 0.5440 - val_accuracy: 0.7886
Epoch 53/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3751 - accuracy: 0.8371 - val_loss: 0.5439 - val_accuracy: 0.7724
Epoch 54/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3643 - accuracy: 0.8432 - val_loss: 0.5470 - val_accuracy: 0.7724
Epoch 55/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3662 - accuracy: 0.8391 - val_loss: 0.5477 - val_accuracy: 0.7805
Epoch 56/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3671 - accuracy: 0.8350 - val_loss: 0.5489 - val_accuracy: 0.7724
Epoch 57/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3593 - accuracy: 0.8452 - val_loss: 0.5509 - val_accuracy: 0.7805
Epoch 58/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3583 - accuracy: 0.8411 - val_loss: 0.5532 - val_accuracy: 0.7724
Epoch 59/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3552 - accuracy: 0.8473 - val_loss: 0.5574 - val_accuracy: 0.7805
Epoch 60/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3586 - accuracy: 0.8411 - val_loss: 0.5542 - val_accuracy: 0.7724
Epoch 61/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3486 - accuracy: 0.8534 - val_loss: 0.5568 - val_accuracy: 0.7724
Epoch 62/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3582 - accuracy: 0.8473 - val_loss: 0.5645 - val_accuracy: 0.7886
Epoch 63/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3526 - accuracy: 0.8493 - val_loss: 0.5637 - val_accuracy: 0.7642
Epoch 64/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3507 - accuracy: 0.8554 - val_loss: 0.5672 - val_accuracy: 0.7805
Epoch 65/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3470 - accuracy: 0.8534 - val_loss: 0.5686 - val_accuracy: 0.7967
Epoch 66/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3415 - accuracy: 0.8534 - val_loss: 0.5741 - val_accuracy: 0.7724
Epoch 67/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3467 - accuracy: 0.8513 - val_loss: 0.5742 - val_accuracy: 0.7724
Epoch 68/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3410 - accuracy: 0.8554 - val_loss: 0.5669 - val_accuracy: 0.7642
Epoch 69/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3399 - accuracy: 0.8534 - val_loss: 0.5691 - val_accuracy: 0.7642
Epoch 70/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3482 - accuracy: 0.8574 - val_loss: 0.5711 - val_accuracy: 0.7805
Epoch 71/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3410 - accuracy: 0.8534 - val_loss: 0.5713 - val_accuracy: 0.7805
Epoch 72/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3394 - accuracy: 0.8513 - val_loss: 0.5778 - val_accuracy: 0.7967
Epoch 73/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3389 - accuracy: 0.8513 - val_loss: 0.5795 - val_accuracy: 0.7805
Epoch 74/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3256 - accuracy: 0.8737 - val_loss: 0.5849 - val_accuracy: 0.7724
Epoch 75/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3326 - accuracy: 0.8554 - val_loss: 0.5902 - val_accuracy: 0.7561
Epoch 76/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3289 - accuracy: 0.8615 - val_loss: 0.5893 - val_accuracy: 0.7724
Epoch 77/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3394 - accuracy: 0.8595 - val_loss: 0.5929 - val_accuracy: 0.7886
Epoch 78/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3271 - accuracy: 0.8513 - val_loss: 0.5980 - val_accuracy: 0.7642
Epoch 79/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3153 - accuracy: 0.8615 - val_loss: 0.5969 - val_accuracy: 0.7724
Epoch 80/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3208 - accuracy: 0.8615 - val_loss: 0.5897 - val_accuracy: 0.8049
Epoch 81/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3249 - accuracy: 0.8635 - val_loss: 0.5949 - val_accuracy: 0.7561
Epoch 82/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3201 - accuracy: 0.8656 - val_loss: 0.6026 - val_accuracy: 0.7561
Epoch 83/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3168 - accuracy: 0.8737 - val_loss: 0.6043 - val_accuracy: 0.7886
Epoch 84/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3215 - accuracy: 0.8676 - val_loss: 0.6055 - val_accuracy: 0.7724
Epoch 85/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3126 - accuracy: 0.8656 - val_loss: 0.6124 - val_accuracy: 0.7480
Epoch 86/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3221 - accuracy: 0.8554 - val_loss: 0.6198 - val_accuracy: 0.7317
Epoch 87/100
5/5 [==============================] - 0s 7ms/step - loss: 0.3151 - accuracy: 0.8758 - val_loss: 0.6261 - val_accuracy: 0.7642
Epoch 88/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3149 - accuracy: 0.8615 - val_loss: 0.6318 - val_accuracy: 0.7724
Epoch 89/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3095 - accuracy: 0.8595 - val_loss: 0.6240 - val_accuracy: 0.7724
Epoch 90/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3155 - accuracy: 0.8656 - val_loss: 0.6262 - val_accuracy: 0.7642
Epoch 91/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3111 - accuracy: 0.8635 - val_loss: 0.6223 - val_accuracy: 0.7642
Epoch 92/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3112 - accuracy: 0.8737 - val_loss: 0.6312 - val_accuracy: 0.7642
Epoch 93/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3059 - accuracy: 0.8717 - val_loss: 0.6338 - val_accuracy: 0.7642
Epoch 94/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3117 - accuracy: 0.8656 - val_loss: 0.6451 - val_accuracy: 0.7805
Epoch 95/100
5/5 [==============================] - 0s 5ms/step - loss: 0.3025 - accuracy: 0.8676 - val_loss: 0.6497 - val_accuracy: 0.7561
Epoch 96/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2951 - accuracy: 0.8839 - val_loss: 0.6503 - val_accuracy: 0.7642
Epoch 97/100
5/5 [==============================] - 0s 6ms/step - loss: 0.2931 - accuracy: 0.8758 - val_loss: 0.6512 - val_accuracy: 0.7642
Epoch 98/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2952 - accuracy: 0.8819 - val_loss: 0.6672 - val_accuracy: 0.7886
Epoch 99/100
5/5 [==============================] - 0s 6ms/step - loss: 0.3009 - accuracy: 0.8758 - val_loss: 0.6704 - val_accuracy: 0.7398
Epoch 100/100
5/5 [==============================] - 0s 5ms/step - loss: 0.2909 - accuracy: 0.8880 - val_loss: 0.6706 - val_accuracy: 0.7561

In [51]:
# Adam

nn = Sequential()
nn.add(Dense(32,activation='relu',input_dim = x1.shape[1]))       
nn.add(Dense(352,activation='relu')) 
nn.add(Dropout(0.5))
nn.add(Dense(1,activation='sigmoid'))  

nn.compile(optimizer='Adam', loss='binary_crossentropy', metrics=['accuracy'])
nn.fit(x1,y1, validation_split=0.2, epochs=100)

Epoch 1/100
16/16 [==============================] - 0s 19ms/step - loss: 0.6147 - accuracy: 0.6864 - val_loss: 0.5866 - val_accuracy: 0.6829
Epoch 2/100
16/16 [==============================] - 0s 5ms/step - loss: 0.5398 - accuracy: 0.7413 - val_loss: 0.5378 - val_accuracy: 0.8130
Epoch 3/100
16/16 [==============================] - 0s 5ms/step - loss: 0.4855 - accuracy: 0.7984 - val_loss: 0.4984 - val_accuracy: 0.8130
Epoch 4/100
16/16 [==============================] - 0s 5ms/step - loss: 0.4694 - accuracy: 0.8045 - val_loss: 0.4905 - val_accuracy: 0.8130
Epoch 5/100
16/16 [==============================] - 0s 5ms/step - loss: 0.4627 - accuracy: 0.8045 - val_loss: 0.4900 - val_accuracy: 0.8130
Epoch 6/100
16/16 [==============================] - 0s 6ms/step - loss: 0.4423 - accuracy: 0.8024 - val_loss: 0.5003 - val_accuracy: 0.8049
Epoch 7/100
16/16 [==============================] - 0s 5ms/step - loss: 0.4398 - accuracy: 0.8024 - val_loss: 0.5135 - val_accuracy: 0.8049
Epoch 8/100
16/16 [==============================] - 0s 5ms/step - loss: 0.4454 - accuracy: 0.7984 - val_loss: 0.4965 - val_accuracy: 0.8049
Epoch 9/100
16/16 [==============================] - 0s 5ms/step - loss: 0.4375 - accuracy: 0.8106 - val_loss: 0.5054 - val_accuracy: 0.8130
Epoch 10/100
16/16 [==============================] - 0s 4ms/step - loss: 0.4355 - accuracy: 0.8106 - val_loss: 0.5066 - val_accuracy: 0.8049
Epoch 11/100
16/16 [==============================] - 0s 4ms/step - loss: 0.4345 - accuracy: 0.8167 - val_loss: 0.4964 - val_accuracy: 0.8130
Epoch 12/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4265 - accuracy: 0.8126 - val_loss: 0.5081 - val_accuracy: 0.8130
Epoch 13/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4166 - accuracy: 0.8147 - val_loss: 0.5096 - val_accuracy: 0.8130
Epoch 14/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4173 - accuracy: 0.8126 - val_loss: 0.5104 - val_accuracy: 0.8211
Epoch 15/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4091 - accuracy: 0.8147 - val_loss: 0.5177 - val_accuracy: 0.8130
Epoch 16/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4037 - accuracy: 0.8289 - val_loss: 0.5095 - val_accuracy: 0.8211
Epoch 17/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4010 - accuracy: 0.8269 - val_loss: 0.5120 - val_accuracy: 0.8211
Epoch 18/100
16/16 [==============================] - 0s 3ms/step - loss: 0.4067 - accuracy: 0.8208 - val_loss: 0.5072 - val_accuracy: 0.8130
Epoch 19/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3936 - accuracy: 0.8187 - val_loss: 0.5131 - val_accuracy: 0.8130
Epoch 20/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3978 - accuracy: 0.8248 - val_loss: 0.5231 - val_accuracy: 0.8049
Epoch 21/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3830 - accuracy: 0.8289 - val_loss: 0.5160 - val_accuracy: 0.8130
Epoch 22/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3860 - accuracy: 0.8289 - val_loss: 0.5123 - val_accuracy: 0.8211
Epoch 23/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3879 - accuracy: 0.8248 - val_loss: 0.5270 - val_accuracy: 0.8211
Epoch 24/100
16/16 [==============================] - 0s 5ms/step - loss: 0.3868 - accuracy: 0.8289 - val_loss: 0.5260 - val_accuracy: 0.8211
Epoch 25/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3862 - accuracy: 0.8330 - val_loss: 0.5253 - val_accuracy: 0.8130
Epoch 26/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3786 - accuracy: 0.8330 - val_loss: 0.5250 - val_accuracy: 0.8130
Epoch 27/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3663 - accuracy: 0.8473 - val_loss: 0.5404 - val_accuracy: 0.8049
Epoch 28/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3636 - accuracy: 0.8411 - val_loss: 0.5509 - val_accuracy: 0.7967
Epoch 29/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3595 - accuracy: 0.8452 - val_loss: 0.5456 - val_accuracy: 0.7967
Epoch 30/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3580 - accuracy: 0.8493 - val_loss: 0.5467 - val_accuracy: 0.7967
Epoch 31/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3474 - accuracy: 0.8411 - val_loss: 0.5506 - val_accuracy: 0.8049
Epoch 32/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3577 - accuracy: 0.8350 - val_loss: 0.5416 - val_accuracy: 0.8130
Epoch 33/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3602 - accuracy: 0.8452 - val_loss: 0.5559 - val_accuracy: 0.8130
Epoch 34/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3481 - accuracy: 0.8473 - val_loss: 0.5578 - val_accuracy: 0.8130
Epoch 35/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3523 - accuracy: 0.8493 - val_loss: 0.5555 - val_accuracy: 0.8293
Epoch 36/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3343 - accuracy: 0.8697 - val_loss: 0.5731 - val_accuracy: 0.8130
Epoch 37/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3324 - accuracy: 0.8656 - val_loss: 0.5837 - val_accuracy: 0.8293
Epoch 38/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3334 - accuracy: 0.8411 - val_loss: 0.5879 - val_accuracy: 0.8211
Epoch 39/100
16/16 [==============================] - 0s 5ms/step - loss: 0.3344 - accuracy: 0.8656 - val_loss: 0.5715 - val_accuracy: 0.8293
Epoch 40/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3282 - accuracy: 0.8595 - val_loss: 0.5834 - val_accuracy: 0.8293
Epoch 41/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3237 - accuracy: 0.8534 - val_loss: 0.5934 - val_accuracy: 0.8211
Epoch 42/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3222 - accuracy: 0.8615 - val_loss: 0.5922 - val_accuracy: 0.8130
Epoch 43/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3214 - accuracy: 0.8574 - val_loss: 0.5961 - val_accuracy: 0.8049
Epoch 44/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3102 - accuracy: 0.8554 - val_loss: 0.6019 - val_accuracy: 0.8130
Epoch 45/100
16/16 [==============================] - 0s 3ms/step - loss: 0.3167 - accuracy: 0.8513 - val_loss: 0.6059 - val_accuracy: 0.8130
Epoch 46/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3086 - accuracy: 0.8656 - val_loss: 0.6106 - val_accuracy: 0.8130
Epoch 47/100
16/16 [==============================] - 0s 5ms/step - loss: 0.3050 - accuracy: 0.8697 - val_loss: 0.6215 - val_accuracy: 0.8049
Epoch 48/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3077 - accuracy: 0.8778 - val_loss: 0.6336 - val_accuracy: 0.8130
Epoch 49/100
16/16 [==============================] - 0s 4ms/step - loss: 0.3053 - accuracy: 0.8697 - val_loss: 0.6508 - val_accuracy: 0.8130
Epoch 50/100
16/16 [==============================] - 0s 4ms/step - loss: 0.2986 - accuracy: 0.8676 - val_loss: 0.6396 - val_accuracy: 0.8049
Epoch 51/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2917 - accuracy: 0.8717 - val_loss: 0.6431 - val_accuracy: 0.8049
Epoch 52/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2831 - accuracy: 0.8859 - val_loss: 0.6692 - val_accuracy: 0.8211
Epoch 53/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2751 - accuracy: 0.8921 - val_loss: 0.6591 - val_accuracy: 0.8130
Epoch 54/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2901 - accuracy: 0.8758 - val_loss: 0.6772 - val_accuracy: 0.8211
Epoch 55/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2836 - accuracy: 0.8737 - val_loss: 0.6804 - val_accuracy: 0.7967
Epoch 56/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2756 - accuracy: 0.8859 - val_loss: 0.6995 - val_accuracy: 0.8130
Epoch 57/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2699 - accuracy: 0.8900 - val_loss: 0.6853 - val_accuracy: 0.8049
Epoch 58/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2673 - accuracy: 0.8900 - val_loss: 0.7175 - val_accuracy: 0.8211
Epoch 59/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2610 - accuracy: 0.8737 - val_loss: 0.7140 - val_accuracy: 0.8049
Epoch 60/100
16/16 [==============================] - 0s 4ms/step - loss: 0.2627 - accuracy: 0.8961 - val_loss: 0.7673 - val_accuracy: 0.7967
Epoch 61/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2671 - accuracy: 0.8941 - val_loss: 0.7507 - val_accuracy: 0.7724
Epoch 62/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2623 - accuracy: 0.8880 - val_loss: 0.7459 - val_accuracy: 0.8049
Epoch 63/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2607 - accuracy: 0.8880 - val_loss: 0.7531 - val_accuracy: 0.8211
Epoch 64/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2619 - accuracy: 0.8819 - val_loss: 0.7520 - val_accuracy: 0.8130
Epoch 65/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2527 - accuracy: 0.8941 - val_loss: 0.7867 - val_accuracy: 0.7967
Epoch 66/100
16/16 [==============================] - 0s 4ms/step - loss: 0.2459 - accuracy: 0.8921 - val_loss: 0.7666 - val_accuracy: 0.8130
Epoch 67/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2446 - accuracy: 0.9022 - val_loss: 0.7926 - val_accuracy: 0.8130
Epoch 68/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2423 - accuracy: 0.9063 - val_loss: 0.8194 - val_accuracy: 0.8049
Epoch 69/100
16/16 [==============================] - 0s 4ms/step - loss: 0.2337 - accuracy: 0.9043 - val_loss: 0.8158 - val_accuracy: 0.8049
Epoch 70/100
16/16 [==============================] - 0s 4ms/step - loss: 0.2475 - accuracy: 0.8982 - val_loss: 0.8356 - val_accuracy: 0.7886
Epoch 71/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2279 - accuracy: 0.9084 - val_loss: 0.8207 - val_accuracy: 0.7805
Epoch 72/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2303 - accuracy: 0.9043 - val_loss: 0.8585 - val_accuracy: 0.7805
Epoch 73/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2310 - accuracy: 0.9002 - val_loss: 0.8435 - val_accuracy: 0.7642
Epoch 74/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2253 - accuracy: 0.9206 - val_loss: 0.8661 - val_accuracy: 0.7724
Epoch 75/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2290 - accuracy: 0.9084 - val_loss: 0.8579 - val_accuracy: 0.7724
Epoch 76/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2302 - accuracy: 0.9043 - val_loss: 0.8772 - val_accuracy: 0.7805
Epoch 77/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2285 - accuracy: 0.9002 - val_loss: 0.8908 - val_accuracy: 0.7480
Epoch 78/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2142 - accuracy: 0.9104 - val_loss: 0.8916 - val_accuracy: 0.7967
Epoch 79/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2197 - accuracy: 0.9084 - val_loss: 0.8951 - val_accuracy: 0.7561
Epoch 80/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2137 - accuracy: 0.9124 - val_loss: 0.9276 - val_accuracy: 0.7642
Epoch 81/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2090 - accuracy: 0.9206 - val_loss: 0.9215 - val_accuracy: 0.7724
Epoch 82/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2159 - accuracy: 0.9206 - val_loss: 0.9316 - val_accuracy: 0.7480
Epoch 83/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2111 - accuracy: 0.9104 - val_loss: 0.9130 - val_accuracy: 0.7724
Epoch 84/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2064 - accuracy: 0.9185 - val_loss: 0.9445 - val_accuracy: 0.7642
Epoch 85/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2062 - accuracy: 0.9124 - val_loss: 0.9615 - val_accuracy: 0.7642
Epoch 86/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2041 - accuracy: 0.9145 - val_loss: 0.9778 - val_accuracy: 0.7317
Epoch 87/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2035 - accuracy: 0.9185 - val_loss: 0.9537 - val_accuracy: 0.7480
Epoch 88/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2091 - accuracy: 0.9104 - val_loss: 0.9863 - val_accuracy: 0.7480
Epoch 89/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2163 - accuracy: 0.9063 - val_loss: 0.9961 - val_accuracy: 0.7317
Epoch 90/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2073 - accuracy: 0.9124 - val_loss: 0.9921 - val_accuracy: 0.7480
Epoch 91/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2028 - accuracy: 0.9145 - val_loss: 1.0087 - val_accuracy: 0.7642
Epoch 92/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1975 - accuracy: 0.9185 - val_loss: 1.0040 - val_accuracy: 0.7480
Epoch 93/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1979 - accuracy: 0.9308 - val_loss: 1.0116 - val_accuracy: 0.7724
Epoch 94/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1969 - accuracy: 0.9165 - val_loss: 1.0164 - val_accuracy: 0.7480
Epoch 95/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1857 - accuracy: 0.9287 - val_loss: 1.0385 - val_accuracy: 0.7642
Epoch 96/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1920 - accuracy: 0.9165 - val_loss: 1.0357 - val_accuracy: 0.7480
Epoch 97/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1973 - accuracy: 0.9165 - val_loss: 1.0613 - val_accuracy: 0.7642
Epoch 98/100
16/16 [==============================] - 0s 3ms/step - loss: 0.2101 - accuracy: 0.9185 - val_loss: 1.1007 - val_accuracy: 0.7398
Epoch 99/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1971 - accuracy: 0.9287 - val_loss: 1.0566 - val_accuracy: 0.7561
Epoch 100/100
16/16 [==============================] - 0s 3ms/step - loss: 0.1789 - accuracy: 0.9348 - val_loss: 1.0690 - val_accuracy: 0.7480

max_accuracy found to be 0.8880 (with gradient descent)
max_accuracy found to be 0.9348 (with Adam)

# Testing set

In [52]:
b = pd.read_csv('C:/Users/Lenovo/Downloads/Loan/testing_set (1).csv')

In [53]:
b = b.drop(labels=["Loan_ID"],axis=1)

In [54]:
replacer(b)

In [55]:
b1 = preprocessing(b)

In [56]:
b1.shape

(367, 20)

In [57]:
nn.predict_classes(b1)

array([[1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])

In [58]:
le.inverse_transform(nn.predict_classes(b1))

array(['Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'Y', 'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N',
       'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y',
       'Y', 'Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N',
       'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'N', 'N',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'Y',
       'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y',
       'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y', 'N', 'Y',
       'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'N',
       'Y', 'Y', 'Y', 'Y', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y', 'Y',
       'N', 'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'Y', 'Y', 'Y',
       'N', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'Y', 'Y', 'Y', 'Y', 'Y',
       'Y', 'Y', 'Y'], dtype=object)

In [59]:
b["Predicted_loan_status"] = le.inverse_transform(nn.predict_classes(b1))

In [60]:
b

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban,Y
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban,Y
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban,Y
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban,Y
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban,N
...,...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.000000,Urban,Y
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.000000,Urban,Y
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.825444,Semiurban,Y
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.000000,Rural,Y
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.000000,Rural,Y

# Problem Statement 2: Loan Amount Prediction

In [62]:
# data preparation

a1 = a[a['Loan_Status']=='Y']
a1 = a1.drop(labels=['Loan_ID'],axis=1)

In [63]:
a2 = b[b['Predicted_loan_status']=='Y']

In [64]:
a1.shape

(422, 12)

In [65]:
a2.shape

(266, 12)

In [66]:
a1.columns = a2.columns

In [67]:
c = pd.concat([a1,a2])

In [68]:
c.isna().sum()

Gender                   0
Married                  0
Dependents               0
Education                0
Self_Employed            0
ApplicantIncome          0
CoapplicantIncome        0
LoanAmount               0
Loan_Amount_Term         0
Credit_History           0
Property_Area            0
Predicted_loan_status    0
dtype: int64

In [72]:
print(c.shape)
c.index = range(0,688,1)
c.head()

(688, 12)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,Urban,Y
1,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Urban,Y
2,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,Urban,Y
3,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,Urban,Y
4,Male,Yes,2,Graduate,Yes,5417.0,4196.0,267.000000,360.0,1.0,Urban,Y

# Preprocessing

In [73]:
y = c[['LoanAmount']]
x = c.drop(labels=['LoanAmount'],axis=1)

In [74]:
replacer(y)
replacer(x)

In [75]:
x1 = preprocessing(x)

In [76]:
x1.isna().sum()

ApplicantIncome            0
CoapplicantIncome          0
Loan_Amount_Term           0
Credit_History             0
Gender_Female              0
Gender_Male                0
Married_No                 0
Married_Yes                0
Dependents_0               0
Dependents_1               0
Dependents_2               0
Dependents_3+              0
Education_Graduate         0
Education_Not Graduate     0
Self_Employed_No           0
Self_Employed_Yes          0
Property_Area_Rural        0
Property_Area_Semiurban    0
Property_Area_Urban        0
Predicted_loan_status_Y    0
dtype: int64

# Create NN

In [78]:
from tensorflow.keras.losses import mae, mean_squared_error, mean_absolute_error

In [82]:
nn1 = Sequential()
nn1.add(Dense(32,activation = 'relu', input_dim = x1.shape[1]))
nn1.add(Dense(32,activation = 'relu'))
nn1.add(Dense(1))

nn1.compile(loss = 'mean_squared_error')
nn1.fit(x1, y, validation_split=0.2, epochs=50)

Epoch 1/50
18/18 [==============================] - 0s 13ms/step - loss: 26945.8945 - val_loss: 18739.0664
Epoch 2/50
18/18 [==============================] - 0s 3ms/step - loss: 26558.3711 - val_loss: 18359.8184
Epoch 3/50
18/18 [==============================] - 0s 3ms/step - loss: 26044.3477 - val_loss: 17819.0977
Epoch 4/50
18/18 [==============================] - 0s 3ms/step - loss: 25322.7461 - val_loss: 17051.6055
Epoch 5/50
18/18 [==============================] - 0s 3ms/step - loss: 24333.8789 - val_loss: 16044.9062
Epoch 6/50
18/18 [==============================] - 0s 3ms/step - loss: 23041.2637 - val_loss: 14769.8574
Epoch 7/50
18/18 [==============================] - 0s 3ms/step - loss: 21448.1621 - val_loss: 13202.9180
Epoch 8/50
18/18 [==============================] - 0s 3ms/step - loss: 19551.5527 - val_loss: 11491.5977
Epoch 9/50
18/18 [==============================] - 0s 3ms/step - loss: 17455.0801 - val_loss: 9577.7832
Epoch 10/50
18/18 [==============================] - 0s 3ms/step - loss: 15136.3623 - val_loss: 7569.5820
Epoch 11/50
18/18 [==============================] - 0s 3ms/step - loss: 12838.0869 - val_loss: 5819.9854
Epoch 12/50
18/18 [==============================] - 0s 3ms/step - loss: 10712.3096 - val_loss: 4220.1084
Epoch 13/50
18/18 [==============================] - 0s 3ms/step - loss: 8721.5107 - val_loss: 2943.6396
Epoch 14/50
18/18 [==============================] - 0s 3ms/step - loss: 7220.1284 - val_loss: 2231.7500
Epoch 15/50
18/18 [==============================] - 0s 3ms/step - loss: 6217.4355 - val_loss: 2020.4008
Epoch 16/50
18/18 [==============================] - 0s 3ms/step - loss: 5770.1357 - val_loss: 2000.7670
Epoch 17/50
18/18 [==============================] - 0s 3ms/step - loss: 5528.9731 - val_loss: 2076.5122
Epoch 18/50
18/18 [==============================] - 0s 2ms/step - loss: 5369.1968 - val_loss: 2138.9143
Epoch 19/50
18/18 [==============================] - 0s 2ms/step - loss: 5229.8838 - val_loss: 2078.0962
Epoch 20/50
18/18 [==============================] - 0s 2ms/step - loss: 5118.4092 - val_loss: 2121.3875
Epoch 21/50
18/18 [==============================] - 0s 2ms/step - loss: 4998.7773 - val_loss: 2085.1426
Epoch 22/50
18/18 [==============================] - 0s 2ms/step - loss: 4894.0264 - val_loss: 1949.1746
Epoch 23/50
18/18 [==============================] - 0s 3ms/step - loss: 4811.7402 - val_loss: 1954.0477
Epoch 24/50
18/18 [==============================] - 0s 2ms/step - loss: 4702.9062 - val_loss: 1968.2738
Epoch 25/50
18/18 [==============================] - 0s 2ms/step - loss: 4607.0879 - val_loss: 1999.3514
Epoch 26/50
18/18 [==============================] - 0s 2ms/step - loss: 4520.7012 - val_loss: 2002.1538
Epoch 27/50
18/18 [==============================] - 0s 2ms/step - loss: 4440.9634 - val_loss: 1922.4701
Epoch 28/50
18/18 [==============================] - 0s 2ms/step - loss: 4366.0410 - val_loss: 2014.0831
Epoch 29/50
18/18 [==============================] - 0s 2ms/step - loss: 4283.9263 - val_loss: 1972.7855
Epoch 30/50
18/18 [==============================] - 0s 2ms/step - loss: 4232.9570 - val_loss: 2081.7388
Epoch 31/50
18/18 [==============================] - 0s 2ms/step - loss: 4155.1523 - val_loss: 2139.2983
Epoch 32/50
18/18 [==============================] - 0s 2ms/step - loss: 4104.4336 - val_loss: 1998.5013
Epoch 33/50
18/18 [==============================] - 0s 2ms/step - loss: 4066.1750 - val_loss: 2053.6013
Epoch 34/50
18/18 [==============================] - 0s 2ms/step - loss: 4019.9526 - val_loss: 2124.7783
Epoch 35/50
18/18 [==============================] - 0s 2ms/step - loss: 3974.9878 - val_loss: 2187.4033
Epoch 36/50
18/18 [==============================] - 0s 2ms/step - loss: 3938.4255 - val_loss: 2116.9614
Epoch 37/50
18/18 [==============================] - 0s 2ms/step - loss: 3904.3577 - val_loss: 2287.5422
Epoch 38/50
18/18 [==============================] - 0s 2ms/step - loss: 3889.0845 - val_loss: 2174.8047
Epoch 39/50
18/18 [==============================] - 0s 2ms/step - loss: 3863.6887 - val_loss: 2300.8467
Epoch 40/50
18/18 [==============================] - 0s 2ms/step - loss: 3854.7278 - val_loss: 2358.3569
Epoch 41/50
18/18 [==============================] - 0s 2ms/step - loss: 3831.9990 - val_loss: 2213.4304
Epoch 42/50
18/18 [==============================] - 0s 2ms/step - loss: 3818.6750 - val_loss: 2146.4966
Epoch 43/50
18/18 [==============================] - 0s 2ms/step - loss: 3798.0210 - val_loss: 2276.8462
Epoch 44/50
18/18 [==============================] - 0s 2ms/step - loss: 3785.1597 - val_loss: 2171.9062
Epoch 45/50
18/18 [==============================] - 0s 2ms/step - loss: 3778.2480 - val_loss: 2187.4841
Epoch 46/50
18/18 [==============================] - 0s 2ms/step - loss: 3753.7070 - val_loss: 2287.6414
Epoch 47/50
18/18 [==============================] - 0s 2ms/step - loss: 3748.2847 - val_loss: 2189.0906
Epoch 48/50
18/18 [==============================] - 0s 2ms/step - loss: 3751.9238 - val_loss: 2221.6492
Epoch 49/50
18/18 [==============================] - 0s 2ms/step - loss: 3740.2317 - val_loss: 2220.9077
Epoch 50/50
18/18 [==============================] - 0s 2ms/step - loss: 3731.8123 - val_loss: 2223.2217

In [225]:
# keras tuner

def model_builder(hp):
    nn = Sequential()
    nn.add(Dense(32, activation = 'relu', input_dim = x1.shape[1]))
    x = hp.Int('units', min_value = 32, max_value = 512, step= 32)
    nn.add(Dense(units=x))
    lr = hp.Choice('rate', values=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])
    nn.add(Dropout(rate = lr))
    nn.add(Dense(1,activation='relu'))
    nn.compile(loss='mean_squared_error')
    return nn

In [226]:
tuner = kt.Hyperband(model_builder, objective='val_loss', max_epochs=10,
                    directory= 'C:/Users/Lenovo/Downloads/kt6',
                     project_name = 'loan_status_2')

INFO:tensorflow:Reloading Oracle from existing project C:/Users/Lenovo/Downloads/kt6\loan_status_2\oracle.json

In [227]:
tuner.search(x1, y, validation_split = 0.2, epochs= 50)

Trial 30 Complete [00h 00m 01s]
val_loss: 2209.460205078125

Best val_loss So Far: 1964.0677490234375
Total elapsed time: 00h 00m 44s
INFO:tensorflow:Oracle triggered exit

In [228]:
tuner.get_best_hyperparameters(num_trials= 1)[0].get('units')

448

In [229]:
tuner.get_best_hyperparameters()[0].get('rate')

0.5

In [230]:
nn1 = Sequential()
nn1.add(Dense(32,activation = 'relu', input_dim = x1.shape[1]))
nn1.add(Dense(448,activation = 'relu'))
nn1.add(Dropout(0.5))
nn1.add(Dense(1))

nn1.compile(loss = 'mean_squared_error')
nn1.fit(x1, y, validation_split=0.2, epochs=50)

Epoch 1/50
18/18 [==============================] - 0s 15ms/step - loss: 26175.2695 - val_loss: 17088.3730
Epoch 2/50
18/18 [==============================] - 0s 3ms/step - loss: 23340.2461 - val_loss: 13979.4424
Epoch 3/50
18/18 [==============================] - 0s 3ms/step - loss: 19136.2754 - val_loss: 9795.3721
Epoch 4/50
18/18 [==============================] - 0s 3ms/step - loss: 13732.1992 - val_loss: 5477.2383
Epoch 5/50
18/18 [==============================] - 0s 3ms/step - loss: 9060.6719 - val_loss: 2980.2878
Epoch 6/50
18/18 [==============================] - 0s 4ms/step - loss: 6515.1484 - val_loss: 2429.3247
Epoch 7/50
18/18 [==============================] - 0s 4ms/step - loss: 5768.0630 - val_loss: 2400.7266
Epoch 8/50
18/18 [==============================] - 0s 4ms/step - loss: 5351.7974 - val_loss: 2285.8438
Epoch 9/50
18/18 [==============================] - 0s 4ms/step - loss: 5253.0420 - val_loss: 2232.6172
Epoch 10/50
18/18 [==============================] - 0s 4ms/step - loss: 4830.9697 - val_loss: 2256.4460
Epoch 11/50
18/18 [==============================] - 0s 3ms/step - loss: 4817.2837 - val_loss: 2174.6553
Epoch 12/50
18/18 [==============================] - 0s 3ms/step - loss: 4607.2051 - val_loss: 2233.8557
Epoch 13/50
18/18 [==============================] - 0s 3ms/step - loss: 4536.9233 - val_loss: 2215.0527
Epoch 14/50
18/18 [==============================] - 0s 3ms/step - loss: 4404.5435 - val_loss: 2092.2188
Epoch 15/50
18/18 [==============================] - 0s 3ms/step - loss: 4157.3999 - val_loss: 2241.6577
Epoch 16/50
18/18 [==============================] - 0s 3ms/step - loss: 4258.9805 - val_loss: 2044.0662
Epoch 17/50
18/18 [==============================] - 0s 3ms/step - loss: 4141.6343 - val_loss: 2169.6985
Epoch 18/50
18/18 [==============================] - 0s 3ms/step - loss: 4022.7158 - val_loss: 2282.2454
Epoch 19/50
18/18 [==============================] - 0s 3ms/step - loss: 4084.3787 - val_loss: 2239.2646
Epoch 20/50
18/18 [==============================] - 0s 3ms/step - loss: 4001.4045 - val_loss: 2227.8042
Epoch 21/50
18/18 [==============================] - 0s 3ms/step - loss: 3954.1868 - val_loss: 2253.4641
Epoch 22/50
18/18 [==============================] - 0s 3ms/step - loss: 3991.6846 - val_loss: 2197.1409
Epoch 23/50
18/18 [==============================] - 0s 3ms/step - loss: 4018.9504 - val_loss: 2192.0266
Epoch 24/50
18/18 [==============================] - 0s 4ms/step - loss: 3806.4924 - val_loss: 2317.5986
Epoch 25/50
18/18 [==============================] - 0s 4ms/step - loss: 3721.4480 - val_loss: 2261.9507
Epoch 26/50
18/18 [==============================] - 0s 4ms/step - loss: 4097.2803 - val_loss: 2258.5125
Epoch 27/50
18/18 [==============================] - 0s 4ms/step - loss: 3830.6873 - val_loss: 2202.6160
Epoch 28/50
18/18 [==============================] - 0s 4ms/step - loss: 3690.1072 - val_loss: 2381.3894
Epoch 29/50
18/18 [==============================] - 0s 4ms/step - loss: 3843.5142 - val_loss: 2492.4192
Epoch 30/50
18/18 [==============================] - 0s 4ms/step - loss: 3908.5723 - val_loss: 2344.9597
Epoch 31/50
18/18 [==============================] - 0s 4ms/step - loss: 3661.4331 - val_loss: 2472.2629
Epoch 32/50
18/18 [==============================] - 0s 4ms/step - loss: 3848.0574 - val_loss: 2469.2676
Epoch 33/50
18/18 [==============================] - 0s 4ms/step - loss: 3799.3293 - val_loss: 2449.5571
Epoch 34/50
18/18 [==============================] - 0s 3ms/step - loss: 3713.7610 - val_loss: 2482.4341
Epoch 35/50
18/18 [==============================] - 0s 3ms/step - loss: 3859.9392 - val_loss: 2552.8872
Epoch 36/50
18/18 [==============================] - 0s 4ms/step - loss: 3539.2046 - val_loss: 2429.4419
Epoch 37/50
18/18 [==============================] - 0s 4ms/step - loss: 3823.3000 - val_loss: 2324.7590
Epoch 38/50
18/18 [==============================] - 0s 4ms/step - loss: 3860.6150 - val_loss: 2453.9778
Epoch 39/50
18/18 [==============================] - 0s 4ms/step - loss: 3856.0300 - val_loss: 2390.2542
Epoch 40/50
18/18 [==============================] - 0s 4ms/step - loss: 3567.9124 - val_loss: 2470.8428
Epoch 41/50
18/18 [==============================] - 0s 3ms/step - loss: 3952.1213 - val_loss: 2556.0063
Epoch 42/50
18/18 [==============================] - 0s 3ms/step - loss: 3833.2922 - val_loss: 2418.1260
Epoch 43/50
18/18 [==============================] - 0s 4ms/step - loss: 3789.6941 - val_loss: 2549.1006
Epoch 44/50
18/18 [==============================] - 0s 5ms/step - loss: 3994.7849 - val_loss: 2377.8748
Epoch 45/50
18/18 [==============================] - 0s 5ms/step - loss: 3654.0317 - val_loss: 2419.0266
Epoch 46/50
18/18 [==============================] - 0s 5ms/step - loss: 3637.6929 - val_loss: 2399.3464
Epoch 47/50
18/18 [==============================] - 0s 4ms/step - loss: 3605.7307 - val_loss: 2624.8350
Epoch 48/50
18/18 [==============================] - 0s 5ms/step - loss: 3597.4885 - val_loss: 2444.9780
Epoch 49/50
18/18 [==============================] - 0s 5ms/step - loss: 3822.3887 - val_loss: 2611.3462
Epoch 50/50
18/18 [==============================] - 0s 3ms/step - loss: 3643.4187 - val_loss: 2505.3174

# prepare data for prediction

In [231]:
b1 = b[b['Predicted_loan_status'] == 'N']

In [232]:
replacer(b1)

In [233]:
b1.shape

(101, 12)

In [234]:
b1.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Predicted_loan_status'],
      dtype='object')

In [235]:
x.columns

Index(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'Loan_Amount_Term',
       'Credit_History', 'Property_Area', 'Predicted_loan_status'],
      dtype='object')

In [236]:
x.shape

(688, 11)

In [237]:
b1 = b1.drop(labels=['LoanAmount'],axis=1)

In [238]:
b1.columns = x.columns

In [239]:
newX = preprocessing(b1)

In [240]:
replacer(newX)

In [241]:
newX.isna().sum()

ApplicantIncome            0
CoapplicantIncome          0
Loan_Amount_Term           0
Credit_History             0
Gender_Female              0
Gender_Male                0
Married_No                 0
Married_Yes                0
Dependents_0               0
Dependents_1               0
Dependents_2               0
Dependents_3+              0
Education_Graduate         0
Education_Not Graduate     0
Self_Employed_No           0
Self_Employed_Yes          0
Property_Area_Rural        0
Property_Area_Semiurban    0
Property_Area_Urban        0
Predicted_loan_status_N    0
dtype: int64

In [242]:
newX.columns = x1.columns

In [243]:
# Predictions

In [244]:
pred = nn1.predict(newX)

In [245]:
pred

array([[102.44804 ],
       [114.15524 ],
       [ 99.32795 ],
       [243.42567 ],
       [138.84703 ],
       [226.30446 ],
       [100.668365],
       [135.0791  ],
       [137.55927 ],
       [ 93.28738 ],
       [ 94.78196 ],
       [ 90.19334 ],
       [122.92066 ],
       [129.25049 ],
       [106.111885],
       [119.33306 ],
       [183.24959 ],
       [151.04948 ],
       [ 99.573326],
       [133.269   ],
       [137.37807 ],
       [119.34319 ],
       [ 83.0676  ],
       [ 84.77216 ],
       [100.64621 ],
       [ 81.103355],
       [128.96945 ],
       [261.57098 ],
       [162.39421 ],
       [100.1352  ],
       [129.748   ],
       [169.8879  ],
       [200.04823 ],
       [101.181526],
       [159.36801 ],
       [178.01593 ],
       [ 97.236206],
       [ 89.34757 ],
       [ 84.65835 ],
       [ 76.774216],
       [ 93.03472 ],
       [107.30529 ],
       [136.31819 ],
       [ 88.62047 ],
       [ 97.581795],
       [138.17847 ],
       [122.43281 ],
       [264.75452 ],
       [199.71486 ],
       [ 97.74763 ],
       [127.024025],
       [102.36135 ],
       [247.22496 ],
       [131.01949 ],
       [100.51691 ],
       [ 93.400566],
       [108.42173 ],
       [150.43507 ],
       [203.68929 ],
       [130.54588 ],
       [138.16917 ],
       [128.48103 ],
       [138.09547 ],
       [107.68592 ],
       [ 98.12028 ],
       [153.29253 ],
       [103.149765],
       [128.93512 ],
       [ 98.768906],
       [127.796196],
       [137.09058 ],
       [ 95.28024 ],
       [111.84208 ],
       [108.88793 ],
       [355.865   ],
       [150.26825 ],
       [153.101   ],
       [148.81404 ],
       [107.12676 ],
       [112.96702 ],
       [200.01543 ],
       [277.60568 ],
       [111.535545],
       [ 95.35912 ],
       [120.87536 ],
       [176.04225 ],
       [158.71892 ],
       [294.8881  ],
       [118.89823 ],
       [115.680374],
       [ 91.96235 ],
       [127.96176 ],
       [141.49536 ],
       [ 83.96427 ],
       [153.04718 ],
       [ 78.58164 ],
       [114.68978 ],
       [ 95.56696 ],
       [194.39053 ],
       [109.2603  ],
       [ 99.18075 ]], dtype=float32)

# Problem Statement 3 : loan term

In [198]:
train = a
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.00000,0.0,146.412162,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,5405.54085,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.00000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.00000,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.00000,0.0,141.000000,360.0,1.0,Urban,Y

In [199]:
test = b
test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban,Y
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban,Y
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban,Y
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban,Y
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban,N

In [200]:
p1 = train[(train['Loan_Status'] == 'Y') & (train['Loan_Amount_Term'] <= 240)]
p2 = test[(test['Predicted_loan_status'] == 'Y') & (test['Loan_Amount_Term'] <= 240)]

In [201]:
p1 = p1.drop(labels=['Loan_ID'],axis=1)

In [202]:
p1.shape

(41, 12)

In [203]:
p2.shape

(27, 12)

In [204]:
replacer(p1)
replacer(p2)

In [205]:
p1.columns = p2.columns

In [206]:
p = pd.concat([p1,p2])

In [207]:
p.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Predicted_loan_status
14,Male,Yes,2,Graduate,No,1299.0,1086.0,17.0,120.0,1.000000,Urban,Y
16,Male,No,1,Not Graduate,No,3596.0,0.0,100.0,240.0,0.842199,Urban,Y
68,Male,Yes,3+,Not Graduate,Yes,7100.0,0.0,125.0,60.0,1.000000,Urban,Y
84,Male,Yes,1,Graduate,No,3988.0,0.0,50.0,240.0,1.000000,Urban,Y
91,Male,Yes,2,Graduate,No,6250.0,5654.0,188.0,180.0,1.000000,Semiurban,Y

In [208]:
p.shape

(68, 12)

In [209]:
cat3 , con3 = catconsep(p)

In [210]:
cat3

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'Property_Area',
 'Predicted_loan_status']

In [211]:
con3

['ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History']

In [212]:
#define x and y

x3 = p.drop(labels=["Loan_Amount_Term"],axis=1)
y3 = p[["Loan_Amount_Term"]]

In [213]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in cat3:
    x3[i] = le.fit_transform(x3[i])

In [214]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x3, y3, test_size=0.2, random_state=31)

# create NN

In [215]:
nn1 = Sequential()
nn1.add(Dense(32,activation = 'relu', input_dim = x3.shape[1]))
nn1.add(Dense(32,activation = 'relu'))
nn1.add(Dense(1))

nn1.compile(loss = 'mean_squared_error')
nn1.fit(x3, y3, validation_split=0.2, epochs=50)

Epoch 1/50
2/2 [==============================] - 0s 94ms/step - loss: 305039.1562 - val_loss: 44463.3867
Epoch 2/50
2/2 [==============================] - 0s 14ms/step - loss: 48764.3086 - val_loss: 25522.8262
Epoch 3/50
2/2 [==============================] - 0s 15ms/step - loss: 30157.7617 - val_loss: 20149.0957
Epoch 4/50
2/2 [==============================] - 0s 13ms/step - loss: 24003.0176 - val_loss: 14730.7080
Epoch 5/50
2/2 [==============================] - 0s 15ms/step - loss: 21258.6426 - val_loss: 12629.4199
Epoch 6/50
2/2 [==============================] - 0s 18ms/step - loss: 19599.2676 - val_loss: 13464.5674
Epoch 7/50
2/2 [==============================] - 0s 14ms/step - loss: 17886.1855 - val_loss: 10499.8076
Epoch 8/50
2/2 [==============================] - 0s 13ms/step - loss: 19545.9121 - val_loss: 14574.3232
Epoch 9/50
2/2 [==============================] - 0s 13ms/step - loss: 19446.4668 - val_loss: 9570.9541
Epoch 10/50
2/2 [==============================] - 0s 15ms/step - loss: 16819.5078 - val_loss: 9425.7129
Epoch 11/50
2/2 [==============================] - 0s 15ms/step - loss: 16255.2256 - val_loss: 12039.2480
Epoch 12/50
2/2 [==============================] - 0s 15ms/step - loss: 16343.3311 - val_loss: 8924.2461
Epoch 13/50
2/2 [==============================] - 0s 14ms/step - loss: 18890.6992 - val_loss: 8839.9170
Epoch 14/50
2/2 [==============================] - 0s 17ms/step - loss: 19037.7285 - val_loss: 17649.3242
Epoch 15/50
2/2 [==============================] - 0s 15ms/step - loss: 24900.5957 - val_loss: 8518.0850
Epoch 16/50
2/2 [==============================] - 0s 15ms/step - loss: 15589.1133 - val_loss: 12231.9043
Epoch 17/50
2/2 [==============================] - 0s 12ms/step - loss: 17181.1289 - val_loss: 8791.4277
Epoch 18/50
2/2 [==============================] - 0s 13ms/step - loss: 15397.5195 - val_loss: 12368.2119
Epoch 19/50
2/2 [==============================] - 0s 12ms/step - loss: 17765.4805 - val_loss: 8578.5078
Epoch 20/50
2/2 [==============================] - 0s 13ms/step - loss: 15043.0146 - val_loss: 12863.3506
Epoch 21/50
2/2 [==============================] - 0s 12ms/step - loss: 17811.7188 - val_loss: 8263.2725
Epoch 22/50
2/2 [==============================] - 0s 15ms/step - loss: 15887.3311 - val_loss: 9185.7578
Epoch 23/50
2/2 [==============================] - 0s 13ms/step - loss: 14062.5068 - val_loss: 8032.1748
Epoch 24/50
2/2 [==============================] - 0s 13ms/step - loss: 16923.2891 - val_loss: 7728.3540
Epoch 25/50
2/2 [==============================] - 0s 12ms/step - loss: 21148.3242 - val_loss: 23386.2129
Epoch 26/50
2/2 [==============================] - 0s 13ms/step - loss: 39419.2734 - val_loss: 7925.3501
Epoch 27/50
2/2 [==============================] - 0s 11ms/step - loss: 20061.1641 - val_loss: 8389.3848
Epoch 28/50
2/2 [==============================] - 0s 10ms/step - loss: 14162.1816 - val_loss: 8588.7822
Epoch 29/50
2/2 [==============================] - 0s 10ms/step - loss: 14034.7666 - val_loss: 10646.5000
Epoch 30/50
2/2 [==============================] - 0s 9ms/step - loss: 14271.5742 - val_loss: 7906.9541
Epoch 31/50
2/2 [==============================] - 0s 9ms/step - loss: 20524.9844 - val_loss: 8424.4531
Epoch 32/50
2/2 [==============================] - 0s 10ms/step - loss: 15968.6494 - val_loss: 8320.0918
Epoch 33/50
2/2 [==============================] - 0s 10ms/step - loss: 16957.9941 - val_loss: 8388.5723
Epoch 34/50
2/2 [==============================] - 0s 10ms/step - loss: 15068.7881 - val_loss: 13988.7959
Epoch 35/50
2/2 [==============================] - 0s 10ms/step - loss: 18550.0645 - val_loss: 11119.6006
Epoch 36/50
2/2 [==============================] - 0s 10ms/step - loss: 13993.6914 - val_loss: 7780.3726
Epoch 37/50
2/2 [==============================] - 0s 9ms/step - loss: 27868.2500 - val_loss: 10356.8857
Epoch 38/50
2/2 [==============================] - 0s 10ms/step - loss: 17788.2637 - val_loss: 15028.4619
Epoch 39/50
2/2 [==============================] - 0s 9ms/step - loss: 18737.5332 - val_loss: 9118.8877
Epoch 40/50
2/2 [==============================] - 0s 10ms/step - loss: 13668.1670 - val_loss: 7974.4688
Epoch 41/50
2/2 [==============================] - 0s 10ms/step - loss: 16143.0977 - val_loss: 8454.5127
Epoch 42/50
2/2 [==============================] - 0s 10ms/step - loss: 17436.9043 - val_loss: 19691.4824
Epoch 43/50
2/2 [==============================] - 0s 10ms/step - loss: 25191.7031 - val_loss: 8393.5879
Epoch 44/50
2/2 [==============================] - 0s 10ms/step - loss: 25369.6289 - val_loss: 7973.9072
Epoch 45/50
2/2 [==============================] - 0s 10ms/step - loss: 14634.8311 - val_loss: 12612.4922
Epoch 46/50
2/2 [==============================] - 0s 11ms/step - loss: 16870.4277 - val_loss: 10688.7871
Epoch 47/50
2/2 [==============================] - 0s 10ms/step - loss: 17225.5020 - val_loss: 13926.6084
Epoch 48/50
2/2 [==============================] - 0s 11ms/step - loss: 16457.6406 - val_loss: 8325.9814
Epoch 49/50
2/2 [==============================] - 0s 11ms/step - loss: 17703.5820 - val_loss: 8605.5371
Epoch 50/50
2/2 [==============================] - 0s 12ms/step - loss: 14562.9932 - val_loss: 13456.3027

In [246]:
# keras tuner

def model_builder(hp):
    nn = Sequential()
    nn.add(Dense(32, activation = 'relu', input_dim = x3.shape[1]))
    x = hp.Int('units', min_value = 32, max_value = 512, step= 32)
    nn.add(Dense(units=x))
    lr = hp.Choice('rate', values=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])
    nn.add(Dropout(rate = lr))
    nn.add(Dense(1))
    nn.compile(loss='mean_squared_error')
    return nn

In [249]:
tuner = kt.Hyperband(model_builder, objective='val_loss', max_epochs=10,
                    directory= 'C:/Users/Lenovo/Downloads/kt6',
                     project_name = 'loan_status_3')

In [250]:
tuner.search(x3, y3, validation_split = 0.2, epochs= 50)

Trial 30 Complete [00h 00m 01s]
val_loss: 8851.1669921875

Best val_loss So Far: 7615.88330078125
Total elapsed time: 00h 00m 39s
INFO:tensorflow:Oracle triggered exit

In [251]:
tuner.get_best_hyperparameters(num_trials=1)[0].get('units')

256

In [252]:
tuner.get_best_hyperparameters()[0].get('rate')

0.3

In [253]:
nn1 = Sequential()
nn1.add(Dense(32,activation = 'relu', input_dim = x3.shape[1]))
nn1.add(Dense(256,activation = 'relu'))
nn1.add(Dropout(0.3))
nn1.add(Dense(1))

nn1.compile(loss = 'mean_squared_error')
nn1.fit(x3, y3, validation_split=0.2, epochs=50)

Epoch 1/50
2/2 [==============================] - 0s 118ms/step - loss: 3007912.0000 - val_loss: 19610.2852
Epoch 2/50
2/2 [==============================] - 0s 15ms/step - loss: 434443.1562 - val_loss: 86410.0078
Epoch 3/50
2/2 [==============================] - 0s 14ms/step - loss: 258002.1406 - val_loss: 19307.8340
Epoch 4/50
2/2 [==============================] - 0s 13ms/step - loss: 320523.0625 - val_loss: 36710.0000
Epoch 5/50
2/2 [==============================] - 0s 14ms/step - loss: 193506.8906 - val_loss: 13391.8740
Epoch 6/50
2/2 [==============================] - 0s 13ms/step - loss: 329772.8125 - val_loss: 46081.4922
Epoch 7/50
2/2 [==============================] - 0s 15ms/step - loss: 416805.6562 - val_loss: 11095.9932
Epoch 8/50
2/2 [==============================] - 0s 13ms/step - loss: 99935.9922 - val_loss: 8695.1660
Epoch 9/50
2/2 [==============================] - 0s 12ms/step - loss: 264556.0312 - val_loss: 13872.4189
Epoch 10/50
2/2 [==============================] - 0s 11ms/step - loss: 80413.7656 - val_loss: 13539.2783
Epoch 11/50
2/2 [==============================] - 0s 12ms/step - loss: 230748.0000 - val_loss: 87129.9531
Epoch 12/50
2/2 [==============================] - 0s 11ms/step - loss: 202435.2188 - val_loss: 21340.9707
Epoch 13/50
2/2 [==============================] - 0s 10ms/step - loss: 289372.9375 - val_loss: 55517.5000
Epoch 14/50
2/2 [==============================] - 0s 12ms/step - loss: 578090.8750 - val_loss: 14100.2969
Epoch 15/50
2/2 [==============================] - 0s 10ms/step - loss: 146457.6250 - val_loss: 10919.6768
Epoch 16/50
2/2 [==============================] - 0s 9ms/step - loss: 238391.3281 - val_loss: 23202.3262
Epoch 17/50
2/2 [==============================] - 0s 10ms/step - loss: 261951.0156 - val_loss: 18293.5977
Epoch 18/50
2/2 [==============================] - 0s 11ms/step - loss: 72308.6641 - val_loss: 15513.0479
Epoch 19/50
2/2 [==============================] - 0s 12ms/step - loss: 754962.8125 - val_loss: 86067.4141
Epoch 20/50
2/2 [==============================] - 0s 11ms/step - loss: 544021.5000 - val_loss: 16582.8301
Epoch 21/50
2/2 [==============================] - 0s 11ms/step - loss: 118291.7891 - val_loss: 20787.5801
Epoch 22/50
2/2 [==============================] - 0s 11ms/step - loss: 117606.8438 - val_loss: 8553.5508
Epoch 23/50
2/2 [==============================] - 0s 11ms/step - loss: 146823.9531 - val_loss: 16544.8691
Epoch 24/50
2/2 [==============================] - 0s 12ms/step - loss: 133393.6562 - val_loss: 27713.4238
Epoch 25/50
2/2 [==============================] - 0s 10ms/step - loss: 115360.1172 - val_loss: 9821.8389
Epoch 26/50
2/2 [==============================] - 0s 11ms/step - loss: 139145.6406 - val_loss: 14011.9795
Epoch 27/50
2/2 [==============================] - 0s 10ms/step - loss: 128950.6484 - val_loss: 14193.8936
Epoch 28/50
2/2 [==============================] - 0s 10ms/step - loss: 519991.7812 - val_loss: 23704.6602
Epoch 29/50
2/2 [==============================] - 0s 12ms/step - loss: 156973.1875 - val_loss: 12392.4375
Epoch 30/50
2/2 [==============================] - 0s 11ms/step - loss: 418636.6250 - val_loss: 29245.0039
Epoch 31/50
2/2 [==============================] - 0s 12ms/step - loss: 267360.8125 - val_loss: 10642.1934
Epoch 32/50
2/2 [==============================] - 0s 11ms/step - loss: 69048.1953 - val_loss: 16631.8730
Epoch 33/50
2/2 [==============================] - 0s 10ms/step - loss: 457505.7812 - val_loss: 25686.5605
Epoch 34/50
2/2 [==============================] - 0s 11ms/step - loss: 376177.6250 - val_loss: 13287.2412
Epoch 35/50
2/2 [==============================] - 0s 11ms/step - loss: 222702.5000 - val_loss: 27224.3633
Epoch 36/50
2/2 [==============================] - 0s 10ms/step - loss: 160290.4062 - val_loss: 42195.4297
Epoch 37/50
2/2 [==============================] - 0s 11ms/step - loss: 245822.5156 - val_loss: 9598.5596
Epoch 38/50
2/2 [==============================] - 0s 10ms/step - loss: 53066.1836 - val_loss: 8959.4014
Epoch 39/50
2/2 [==============================] - 0s 10ms/step - loss: 118693.6875 - val_loss: 16255.2588
Epoch 40/50
2/2 [==============================] - 0s 11ms/step - loss: 93113.7500 - val_loss: 36928.3633
Epoch 41/50
2/2 [==============================] - 0s 10ms/step - loss: 193182.2969 - val_loss: 18018.2793
Epoch 42/50
2/2 [==============================] - 0s 12ms/step - loss: 129379.1328 - val_loss: 9448.3516
Epoch 43/50
2/2 [==============================] - 0s 12ms/step - loss: 116341.4453 - val_loss: 24970.6660
Epoch 44/50
2/2 [==============================] - 0s 10ms/step - loss: 156638.0781 - val_loss: 44516.0234
Epoch 45/50
2/2 [==============================] - 0s 11ms/step - loss: 641097.5625 - val_loss: 19556.0977
Epoch 46/50
2/2 [==============================] - 0s 10ms/step - loss: 85350.5938 - val_loss: 16604.9863
Epoch 47/50
2/2 [==============================] - 0s 10ms/step - loss: 60227.1289 - val_loss: 8121.5063
Epoch 48/50
2/2 [==============================] - 0s 10ms/step - loss: 121470.9922 - val_loss: 8109.0483
Epoch 49/50
2/2 [==============================] - 0s 10ms/step - loss: 56371.3281 - val_loss: 11742.4189
Epoch 50/50
2/2 [==============================] - 0s 9ms/step - loss: 62691.6680 - val_loss: 17070.2129

In [254]:
# testing data

In [255]:
q = test[(test['Predicted_loan_status'] == 'N') & (test['Loan_Amount_Term'] <= 240)]

In [256]:
q1 = q.drop(labels=['Loan_Amount_Term'],axis=1)

In [257]:
q1

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Property_Area,Predicted_loan_status
84,Male,Yes,0,Graduate,No,4456,0,131.0,0.000000,Semiurban,N
164,Male,No,1,Graduate,No,3180,2370,80.0,0.825444,Rural,N
173,Male,No,0,Graduate,No,3017,2845,159.0,0.000000,Urban,N
190,Female,Yes,1,Graduate,No,4333,0,132.0,1.000000,Rural,N
338,Male,Yes,1,Graduate,Yes,2360,3355,87.0,1.000000,Rural,N
342,Male,Yes,3+,Not Graduate,No,3522,0,81.0,1.000000,Rural,N
354,Male,Yes,3+,Not Graduate,No,5316,187,158.0,0.000000,Semiurban,N

In [258]:
cat4, con4 = catconsep(q1)

In [259]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for i in cat4:
    q1[i] = le.fit_transform(q1[i])

In [260]:
q1

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Credit_History,Property_Area,Predicted_loan_status
84,1,1,0,0,0,4456,0,131.0,0.000000,1,0
164,1,0,1,0,0,3180,2370,80.0,0.825444,0,0
173,1,0,0,0,0,3017,2845,159.0,0.000000,2,0
190,0,1,1,0,0,4333,0,132.0,1.000000,0,0
338,1,1,1,0,1,2360,3355,87.0,1.000000,0,0
342,1,1,2,1,0,3522,0,81.0,1.000000,0,0
354,1,1,2,1,0,5316,187,158.0,0.000000,1,0

In [261]:
q1.shape

(7, 11)

In [262]:
replacer(q1)

# Predictions

In [263]:
pred = nn1.predict(q1)

In [264]:
pred

array([[149.28183],
       [205.0286 ],
       [212.25166],
       [145.0659 ],
       [167.32556],
       [118.03263],
       [178.58362]], dtype=float32)